<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    
    <header>
        <nav>
            <img class="logo" src="/images/favicon.ico" alt="">
            <a href="/projects">ALL PROJECTS   </a>
            <a id="login" href="/auth/google">___Login with Google</a><br>
        </nav>
        <h1>Rate My Project</h1>
    </header>