<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
  <nav>
    <img class="logo" src="/images/favicon.ico" alt="">
    <a href="/profiles">ALL PROFILES   </a>
    <a id="login" href="/auth/google">___Login with Google</a><br>
</nav>
<header>
    <h1>Meet Your Classmates</h1>
</header>
    <form id="new-form" action="/profiles" method="POST" autocomplete="off">
        <label>Name:</label>
        <input type="text" name="name" placeholder="Richard Dickson"><br>
        <!-- <label>Picture:</label>
        <input type="file" id="myFile" name="pic"> -->
        <img src="/images/fb16.png" alt="">
        <input type="text" name="fb" placeholder="***Must start with http" ><br>
        <img src="/images/li16.png" alt="">
        <input type="text" name="li" placeholder=" Ex. https://www.linkedin.com/in/user"><br>
        <img src="/images/gh16.png" alt="">
        <input type="text" name="gh" placeholder="Ex. https://github.com/user"><br>
        <label>Project #1 Link:</label>
        <input type="text" name="proj1" placeholder="Ex. https://github.com/user/project1"><br>
        <label>Project #2 Link:</label>
        <input type="text" name="proj2" placeholder="Ex. https://github.com/user/project2"><br>
        <label>Birthplace:</label>
        <input type="text" name="birthplace" placeholder="Ex. Las Vegas, NV, USA"><br>
        <label>Hometown:</label>
        <input type="text" name="hometown" placeholder="Ex. Pallet Town, OR"><br>
        <label>Current Place of Residence:</label>
        <input type="text" name="res" placeholder="Ex. Smallville, MI"><br>
        <label>Timezone:</label>
        <select name="timezone">
          <option value="PST">PST</option>
          <option value="EST">EST</option>
          <option value="CT">CT</option>
          <option value="MT">MT</option>
        </select><br>
        <label>Age:</label>
        <input type="text" name="age" placeholder="Ex. 30"><br>
         <input type="submit" value="Add Profile">
      </form>
</body>
</html>