<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/base.css">
</head>
<body>
    <form id="new-form" action="/profiles" method="POST">
        <label>Name:</label>
        <input type="text" name="name" placeholder="Cosmo Kramer"><br>
        <!-- <label>Picture:</label>
        <input type="file" id="myFile" name="pic"> -->
        <img src="/images/fb16.png" alt="">
        <input type="text" name="fb" placeholder="https://www.facebook.com/user"><br>
        <img src="/images/li16.png" alt="">
        <input type="text" name="li" placeholder="https://www.linkedin.com/in/user"><br>
        <img src="/images/gh16.png" alt="">
        <input type="text" name="gh" placeholder="https://github.com/user"><br>
        <label>Project #1 Link:</label>
        <input type="text" name="proj1" placeholder="https://github.com/user/project1"><br>
        <label>Project #1 Link:</label>
        <input type="text" name="proj1" placeholder="https://github.com/user/project1"><br>
        <label>Project #1 Link:</label>
        <input type="text" name="proj1" placeholder="https://github.com/user/project1"><br>
        <label>Project #2 Link:</label>
        <input type="text" name="proj2" placeholder="https://github.com/user/project2"><br>
        <label>Birthplace:</label>
        <input type="text" name="birthplace" placeholder="Las Vegas, NV, USA"><br>
        <label>Hometown:</label>
        <input type="text" name="hometown" placeholder="Las Vegas, NV"><br>
        <label>Current Place of Residence:</label>
        <input type="text" name="res" placeholder="Detroit, MI"><br>
        <label>Timezone:</label>
        <select name="timezone">
          <option value="PST">PST</option>
          <option value="EST">EST</option>
          <option value="CT">CT</option>
          <option value="MT">MT</option>
        </select><br>
        <label>Age:</label>
        <input type="text" name="age" placeholder="16"><br>


        <!-- <label>Project #1 README Link:</label>
        <input type="text" name="proj1ReadmeLink" placeholder="https://github.com/user/game">
        <label>MPAA Rating</label>
        <select name="mpaaRating">
          <option value="G">G</option>
          <option value="PG">PG</option>
          <option value="PG-13">PG-13</option>
          <option value="R">R</option>
        </select>
        <label>Now Showing:</label>
        <input type="checkbox" name="nowShowing" checked>
         -->
         <input type="submit" value="Add Profile">
      </form>
</body>
</html>