* {
  /* color: red; */
  box-sizing: border-box;
  text-align: center;
}

html {

  background-color: black;
  height: 80vh;
  width: 100vw;
  
}

li {
  list-style: none;
}


body {
  border: 5px solid red;
  display: grid;
  grid-template-rows: .33fr .66fr;
  grid-template-columns: 1fr;
  color: red;
  background-color: oldlace;
  height: 90vh;
  padding-bottom: 0%;
}

section p {
  display: inline;
}
header{
  margin: 0;
  padding:0;
}

header > h1 {
  /* display: inline-flex; */
  color:white;
  background-color: red;
  margin: 0;
  padding: 0;
}

footer {
  color:white;
  background-color: red;
  border: 5px solid blue;
  margin-bottom: 0;
  overflow:0;
}
  

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

#login {
  color: green;
  size: 500px;
}

.logo {
  padding-top: 5px;
  padding-bottom: 0;
  margin-bottom: 0;

}

