* {
  /* color: red; */
  box-sizing: border-box;
  margin: 0;
  padding:0;
  text-align: center;
  /* border: 5px solid purple; */
}

html {
  background-color: black;
  /* height: 80vh;
  width: 100vw; */
  background-image: url("../images/gears.jpg")
  
}

body {
  max-width: 960px;
  margin: auto;
  font-family: 'Architects Daughter';
}


li {
  list-style: none;
  border: 5px solid green;
}

li img {
  margin-top: 1px;
}


body {
  border: 5px solid #ff4500;
  display: grid;
  grid-template-rows: .1fr .05fr .66fr;
  grid-template-columns: 1fr;
  color: #ff4500;
  background-color: oldlace;
  /* height: 90vh; */
  padding-bottom: 0%;
  max-width: 960px;
  width: 100%;
}

body nav {
  display: flex;
  justify-content:space-evenly;
  align-items:flex-start;
  height: 50px;
}

body nav:hover {
  color: white;
}


#lasttwo {
  align-items: flex-end;
}

body ul {
  margin: auto;
  max-width: 960px;
}

body ul li {
  border: 5px solid #ff4500;
  background-color: white;
  margin: auto;
  margin-bottom: 12px;
  max-width: 960px;
}

/* nav img {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 5px;
  object-fit: contain;
  margin-right: auto;
  height: 46px;
} */

section p {
  display: inline;
}

header{
  margin: auto;
  padding: auto;
  background-color: #ff4500;
  /* border: 5px solid purple;  */
  max-width: 960px;
  width: 100%;
  color: black;
}

.header {
  text-decoration: none;
  color:black;
  font-size: x-large;
}

.header:hover {
  color: white;
}

header > h1 {
  /* display: inline-flex; */
  
  /* display: inline; */
  /* border: 5px solid purple;  */
  /* margin-top: 7px;
  margin-left: 400px; */
  /* max-width: 960px; */
  margin: auto;
  width: 100%;
  
}

section table {
  margin: auto;
  justify-content: center;
}

/* header img {
  margin: 0;
} */

body li {
  border: 5px solid white;
  background-color: #ff4500;
  color: white;
  width: 300px;
  height: 85px;
  margin-left: 435px;
}

ul li {
  display: inline-block;
}

form input {
  width: 350px;
}

footer {
  color:white;
  background-color: #ff4500;
  border: 5px solid blue;
  margin-bottom: 0;
  overflow:0;
}
  

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

#login {
  size: 500px;
}

.logo {
  padding-top: 5px;
  padding-bottom: 0;
  margin-bottom: 0;

}

#indiv {
  height: 30px;
}

#feedback-form {
  margin: auto;
  justify-content: center;
}

#feedback-box {
  height: 100px;
  width: 200px;
}

#feedback-button {
  
  background-color: #B8C0C2;
  /* margin-top: 10px; */
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* border-radius: 4px; */
  /* padding:1px; */
  display:list-item;
}

#all-projects:nth-child(even){
  border: 5px solid gray;
}

#delete-form {
  display: flex;
}

#card {
 height: 135px;
 display: inline-block;
}


body ul:nth-child(even){
  color: yellow;
}

