* {
  color: red;
  text-align: center;
  background-color: oldlace;
}

header {
  display: inline-flex;
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

#login {
  color: green;
  size: 500px;
}

.logo {
  width: 30px;
  height: 30px;
  padding-top: 20px;
  margin: 5px;
}