<%- include('../partials/header.ejs') %>
<section>
  <form id="new-form" action="/projects" method="POST" autocomplete="off">
    <label>Author:</label>
    <input type="text" name="author" placeholder="Hank Gibson"><br>

    <label>Title:</label>
    <input type="text" name="title" placeholder="Connect 4 Game"><br>

    <label>Link:</label>
    <input type="text" name="link" placeholder="https://user.github.io/game/"><br>

    <label>ReadMe:</label>
    <input type="text" name="readMe" placeholder="https://github.com/user/game"><br>

    <!-- // do we add projComments here? -->

    <!-- <label>Text Group Chat:</label>
            <input type="checkbox" name="grpChat" value=""><br> -->

    <!-- <label>Timezone:</label>
            <select name="tZone" value="<
                <option value="PST">PST</option>
                <option value="EST">EST</option>
                <option value="CT">CT</option>
                <option value="MT">MT</option>
            </select><br> -->
    <input type="submit" value="Submit Project">
  </form>

</section>

  </body>

  </html>